<!-- *ngIf="users.length > 0; else noData" -->
<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Idade</th>
        <th scope="col" class="align-icons">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>
          {{u.user_id}}
        </td>
        <td>
          {{u.user_name}}
        </td>
        <td>
          {{u.user_lastname}}
        </td>
        <td>
          {{u.user_age}}
        </td>
        <td class="align-icons">
          <a class="btn"(click)="editUser(u)">
            <i class="fas fa-edit" title="Alterar"></i>
          </a>
          <i class="fas fa-trash-alt" title="Excluir"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  Não há usuários cadastrados
</ng-template>